*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-text-size-adjust: none;
  font-feature-settings: "kern" off;
  font-kerning: none;
  cursor: pointer;
  color: #131415;
}

body {
  height: 100%;
  min-height: 100vh;
  color: rgb(233, 233, 233);
  font-size: 1.2rem;
  padding-top: calc(2rem * 3);
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  letter-spacing: 0.05rem;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 380px;
  max-height: 608px;
  overflow: hidden;
  border-radius: 3rem;
  background: #131415;
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.3), 0 0rem 10rem rgba(0, 0, 0, 0.8);
}

nav {
  width: 100%;
  height: 608px;
  position: relative;
}

nav .toggle-menu {
  z-index: 1;
}

nav .toggle-menu a {
  color: rgb(233, 233, 233);
  transition: color 0.27s ease;
}

nav .toggle-menu a:hover {
  color: rgba(207, 0, 15, 1);
}

nav .toggle-menu input {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 3rem;
  top: 2rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

nav .toggle-menu input:checked ~ span {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: rgba(207, 0, 15, 1);
  margin-left: 5px;
}

nav .toggle-menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(0, -1px);
}

nav .toggle-menu input:checked ~ .menu {
  transform: none;
  box-shadow: 0.5rem 0 0.9rem rgba(0, 0, 0, 0.5), 2rem 0 5rem rgba(0, 0, 0, 0.3);
}

nav .toggle-menu span {
  display: block;
  width: 27px;
  height: 2px;
  background: rgb(233, 233, 233);
  border-radius: 3px;
  margin-bottom: 3;
  z-index: 2;
  position: absolute;
  top: 3rem;
  left: 3rem;
  transform-origin: 7px -7px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    margin-left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    margin-bottom 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

nav .toggle-menu span:nth-child(3) {
  transform-origin: 0% 100%;
  margin-bottom: 0px;
  margin-bottom: 0;
  margin-top: 10px;
}

nav .menu {
  position: absolute;
  top: 0;
  width: 80%;
  height: 608px;
  margin: 0 100px 0 0;
  padding: 0 0 0 3rem;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  background: var(--c-darker);
  -webkit-font-smoothing: antialiased;
  border-radius: 4rem;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    box-shadow 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
}

nav .menu--list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}

nav .menu--list > *:last-child {
  border-bottom: 1px solid #96281b;
  padding-bottom: 3rem;
}

nav .menu--footer {
  align-self: end;
  list-style-type: none;
}

nav .menu li {
  padding: 1.5rem 0;
}
